body{
    display: flex;
    justify-content: center;
    background: rgb(68, 68, 68);
    color: orange;
    font-family: century gothic;
}
.main-container img{
    width: 100px;
    height: 75px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 1;
    
}
.main-container img:hover{
    width: 170px;
    height: 120px;
    border: 6px solid  coral;
}
p:nth-child(1){
    font-size: 30px;
}
p a{
    color: aliceblue;
}
.diego {
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
.main-container{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
ul li{
    align-items: start;
    width: 150px;
    margin: 15px 15px;
    
}
ul li a{
    text-decoration: none;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: large;
}
.tipo{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}
.lista a:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(201, 90, 0);
    border-radius: 8px;
    font-weight: bold;
    position: absolute;
}