*{
    font-family: 'Roboto' sans-serif;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}
.hero {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px;
    margin: 0 auto;
    place-content: center;
    max-width: 850px;
}
.info button{
    background-color: orange;
    border-radius: 15px;
    height: 30px;
    width: 120px;
    border: none;
    font-weight: bold;
}
.info h1{
    font-size: 3rem;
}
.hero-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.info {
    align-self: center;
    font-size: 1.5rem;
}
.services {
    margin-top: 45px;
}
.services h2{
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 2rem;
}
.our-services{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(100px , 180px));
    justify-content: center;
    grid-auto-flow: 1fr;
    gap: 8px;
    max-width: 850px;
    margin: 0 auto;
    align-items: center;
}
.our-services img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.our-services .video{
    grid-area: 1 / 1 / 3 / 3;
}
.plates img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.plates {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(150px, 250px));
    justify-content: center;
    text-align: center;
    gap: 8px;
    padding: 25px;
    max-width: 850px;
    margin: 0 auto;
    justify-content: center;
}
.plates .item-plate{
    background-color: bisque;
    border-top-left-radius: 45px;
}
.menu{
    text-align: center;
    margin-top: 50px;
    color: #333;
}
@media screen and (max-width:768px){
    .hero{
        grid-template-columns: minmax(300px, 500px);
        text-align: center;
    }
    .our-services{
        grid-template-columns: repeat(auto-fit ,minmax(75px , 150px));
        place-content: center;
    }
    .plates {
        grid-template-columns: repeat(auto-fit , minmax(100px, 180px));
        text-align: center;
    }
}

