/*
1. Posicionamiento
2. Modelo de Caja (box model)
3.Tipografía
4.Visuales
5.Otros
*/
:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1A9aF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201e1c;
    --black: #282623;
    --grey:#bababa;
    --off-white:#faf8f7;
    --just-white: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header-title-container {
    width: 90%;
    min-width: 288;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header-title-container h1{
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.header-title-container p{
    margin-top: 25px;
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.header-button {
    position: absolute;
    left: calc(50% -  118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow:  0px 4px 8px rgba(89, 73,30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.header-button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container,
.main-plans-container {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    padding-top: 80px;
    text-align: center;
    
}
.main-exchange-container-title,
.plans--title p{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 30px;
}
.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url('../assets/img/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2,
.main-plans-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-currancy-table,{
    width: 90%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.currency-tablet-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table-container table{
    width: 100%;
    height: 100%;
}
.currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table-container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table-container .table__top-righ{
    border-radius: 0 15px 0 0;
}
.currency-table-container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table-container .table__bottom-righ{
    border-radius: 0 0 15px 0;
}
.currency-table-container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-position: center;
    background-size: cover;
    background-repeat: n;
}
.currency-table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: var(--soft-orange);
    color: var(--warm-black);
}
/*Aquí inicia la segunda tabla*/
.second-currancy-table{
    width: 90%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.second_currency-tablet-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.second_currency-table-container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.second_currency-table-container table{
    width: 100%;
    height: 100%;
}
.second_currency-table-container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.second_currency-table-container .table__top-left{
    border-radius: 15px 0 0 0;
}
.second_currency-table-container .table__top-righ{
    border-radius: 0 15px 0 0;
}
.second_currency-table-container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.second_currency-table-container .table__bottom-righ{
    border-radius: 0 0 15px 0;
}
.second_currency-table-container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.s_currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: var(--soft-blue);
    color: var(--warm-black);
}
.name-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product-detail--patata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('../assets/icons/batata.svg');
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
   margin-bottom: 20px;
   font-size: 2.4rem;
   font-weight: bold;
   line-height: 2.6rem;
   color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
 }
 .product-datail--card{
     width: 90%;
     min-width: 288px;
     max-width: 400px;
     height: 150px;
     margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
 }
 .product-datail--card .clock,.eye,.coin,.check {
     display: inline-block;
     width: 20px;
     height: 20px;
     margin-bottom: 10px;
     background-image: url('../assets/icons/clock.svg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 .product-datail--card .eye {
     background-image: url('../assets/icons/eye.svg');
 }
 .product-datail--card .coin {
    background-image: url('../assets/icons/dollar-sign.svg');
}
.product-datail--card .check {
    background-image: url('../assets/icons/check-circle.svg');
}
 .product-card-type,
 .product-card-body{
     font-size: 1.8rem;
     margin-bottom: 15px;
     font-weight: bold;
     line-height: 1.8rem;
     color: var(--just-white);

 }
 .product-card-body {
     font-size: 1.4rem;
     font-weight: 500;
    color: #808080;
 }
 .bitcoin-img-container {
     width: 90%;
     height: 380px;
     min-width: 320PX;
     background-image: url('../assets/img/bitcoinbaby2x.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }
 .bitcoin-img-container h2{
     font-size: 2.4rem;
     margin-bottom: 15px;
     font-weight: bold;
     line-height: 2.6rem;
     color: var(--just-white);
     padding-top: 60px;
     text-align: center;
}
.plans-container--card {
    width: 190px;
    height: 250px;
    background-color: var(--just-white);
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
}
.plans-container--card p:nth-child(1){
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
    font-weight: bold;
    position: absolute;
    top: -30px;
    left: calc(50% - 50px);
}
.plans-container--card h3{
    padding-top: 30px ;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.plans-container--card p:nth-child(2){
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    margin-top: 8px;
}
.plans-container--card p:nth-child(3){
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: #757575;
    margin-top: 16px;
}
.plans-container--slider button{
    width: 151px;
  height: 48px;
  margin-top: 20px;
  background: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}
.plans-container--slider span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: text-bottom;
    background-image: url('../assets/icons/orange-right-arrow.svg');
}
.plan-cars{
    box-shadow:  0px 4px 8px rgba(89, 73,30, 0.16);
    height: 250px;
    border-radius: 8px;
}
.footer-container {
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
    margin-top: 60px;
    position: inherit;
}
.footer-container .image-footer{
    display: inline-block;
    width: 65px;
    margin-left: 60px;
    height: 50px;
    background-image: url('../assets/img/logo-footer.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-container p{
    color: var(--just-white);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}
.footer-container .footer-redes{
    margin: 35px;
    display: inline-block;
    
}


